<!DOCTYPE html>
<html>
<head>
    <title>Computers</title>
    <meta charset="utf-8" />
</head>
<body>
<p><a href="/create">Добавить пользователя</a></p>
<table>
    <tr>
        <th>Name</th>
        <th>CPU</th>
        <th>hard_memory</th>
        <th>video</th>
        <th>ram</th>
    </tr>
    {{#each computres}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.cpu}}</td>
            <td>{{this.hard_memory}}</td>
            <td>{{this.video}}</td>
            <td>{{this.ram}}</td>
            <td>
                <a href="/edit/{{this.id}}">Edit</a>|
                <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    {{/each}}
</table>
</body>
<html>